/* Reset CSS */

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
span,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

/* Navigation */

nav {
  display: flex;
}

.nav-links {
  display: flex;
  width: 100px;
  height: 200px;
  flex: 1;
  background-color: grey;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;  
}

.nav-links a {
  color: black;
  padding-top: 50px;
  color: #fff;
}

/* Article Section */

.featured-articles {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.featured-articles h1 {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

article {
  width: 50%;
  height: 800px;
  background-color: grey;
  border: 1px solid white;
  padding: 15%;
  text-align: center;
}

article .seriously-red {
  position: absolute;
  top: 25px;
  right: 50px;
}

article h2 {
  font-size: 30px;
  color: white;
}

button {
  font-size: 1.8rem;
  border-radius: 1rem;
  margin-top: 50px;
}

.fas .fa-search {
  font: 1px;
}

.featured-articles {
  font-size: 2rem;
  color: rgb(17, 16, 16);
  font-weight: bold;
}

.article-heading {
  font-size: 2.5rem;
  font-weight: bolder;
  font-size: 2rem;
}

/* Membership */

.membership {
  height: 497px;
  background-color: grey;
  color: white;
  padding: 50px 0;
  font-size: 19px;
}

.membership .content {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.content .img {
  width: 215px;
  height: 280px;
  background-color: black;
  position: absolute;
  top: -100px;
  right: 150px;
  transform: rotate(-21.5deg);
}

.content i {
  float: right;
}

.content .text {
  width: 55%;
}

.text p {
  margin-bottom: 30px;
}

.text ul {
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 50px;
}

.text li {
  margin-bottom: 10px;
}

.text button {
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  padding: 15px;
}

/* Latest Article Grid */

.main-grid {
  display: flex;
  background-color: grey;
  margin-top: 20px;
}

.article-grid {
  border: 1px solid white;
  padding: 20px;
}

.article-grid .author {
  margin: 10px 0;
}

.grid-paragraph {
  font-size: 20px;
  margin-top: 20px;
  line-height: 30px;
}

.grid-title {
  font-size: 2rem;
  text-decoration: underline;
  padding-top: 10px;
}

.grid-title:hover {
  color: rgb(204, 10, 10);
}

.container  {
  display: flex;
  justify-content: flex-end;
  height: 50%;
  padding-top: 50px;
  
}
.container h2 {
  background-color: rgb(168, 165, 165);
  width: 95%;
  height: 646px;
  border-radius: 1rem;
  padding-top: 30%;
}

/* TV Membership */

.tv-membership {
  padding: 40px;
}

.tv-membership .tv-content {
  text-align: center;
  background-color: grey;
  border-radius: 10px;
  color: white;
  padding: 25px;
}

.tv-content .img {
  width: 250px;
  height: 250px;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto;
}
